<?xml version="1.0"?>
<launch>
    <node pkg="rosbag" type="record" name="rosbag_recorder" args="record -o /home/user/rosbag/
        /snowsampler/landing_leg_angle
        /target_slope
        /target_normal
        /tf
        /mavros/global_position/global
        /mavros/local_position/pose
        /elevation_map"/>
</launch>
