[Unit]
Description=Launch terrain navigation node as a service
After=network.target systemd-udevd.service

[Service]
EnvironmentFile=/home/user/ros2_ws/src/adaptive-snowsampler/systemd/environment.conf
ExecStart=/bin/bash /home/user/ros2_ws/src/adaptive-snowsampler/systemd/run_record.sh
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target